body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2f4f4f;
    color: white;
    padding: 1em;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.home-body {
    background-color: #f2f2f2;
	 background-image: url('https://media.istockphoto.com/id/1393093359/photo/search-for-air-travel-information-air-ticket-booking-for-travel.jpg?s=612x612&w=0&k=20&c=vjx4BAdbvsa-6DNt8uO3VkAKsZ2eTyhJA6rBAe4zFig=');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
}

.packages-body {
    background-color: #cccccc;
}

.aboutus-body {
    background-color: #aaaaaa;
}

.booknow-body {
    background-color: #888888;
	background-image: url('https://cdn.pixabay.com/photo/2024/02/17/11/01/immigration-8579109_1280.jpg';
	background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    padding: 2em;
    text-align: center;
	color:black;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-color: #d8e8e8;
}

.home-body {
    background-image: url('https://media.istockphoto.com/id/1393093359/photo/search-for-air-travel-information-air-ticket-booking-for-travel.jpg?s=612x612&w=0&k=20&c=vjx4BAdbvsa-6DNt8uO3VkAKsZ2eTyhJA6rBAe4zFig=');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
}
footer{
	color:black;
	
}

